@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  
  font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

html {
    height: 100%;   
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
}

ul {
    list-style-type: none;
}

.page-header {
    background: #FFFFFF;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1057px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 250px;
    margin-left: auto;
}

.logo-link {
    margin: 0 auto;
}

.navigation-link {
    list-style: none;
    color: inherit;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
}

.header-button {
    text-transform: uppercase;
    width: 160px;
    height: 37px;
    background-color: #756257;
    color: white;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-logo {
    display: block;
    margin: 0 auto;
}

.main-index {
    color: black;
    background-color: white;
    background: url(../img/svgs/line.svg) ,
                url(../img/main-background.jpg);                
    background-size: 100% auto;
    background-repeat: no-repeat;                  
} 

.sedona-advantages {
    margin: 0;
    margin-top: 146px;
    margin-bottom: 23px;
    padding: 0;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.advantages-description {
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.index-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 75px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.blue {
    background-color: #83B3D3;
}

.true-city-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.number-1 {
    display: block;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.true-city-description {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}


.comfort-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.comfort-description {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.comfort-item:nth-child(1) {
    background-image: url(../img/svgs/home.svg);
    background-repeat: no-repeat;
    background-color: rgba(131, 179, 211, 0.12);
}

.comfort-item:nth-child(2) {
    background-image: url(../img/svgs/present.svg);
    background-repeat: no-repeat;
}

.comfort-item:nth-child(3) {
    background-image: url(../img/svgs/sandwich.svg);
    background-repeat: no-repeat;
    background-color: rgba(131, 179, 211, 0.12);
}

.devils-bridge-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.number-2 {
    display: block;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.devils-bridge-description {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.more-advantages-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.numbers {
    display: block;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;    
}

.more-advantages-description {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.more-advantages-item:nth-child(1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.more-advantages-item:nth-child(2) {
    background: rgba(131, 179, 211, 0.2);
}

.more-advantages-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.12);
}

.interested-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.interested-description {
    font-family: PT Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}


.interested {
    display: flex;
    flex-direction: column;
}

.search {
    text-transform: uppercase;
    background-color: #756257;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center; 
    margin: 0 auto;
}

.subscribe {
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-title {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.email-form {
    margin: 0 auto;
}

.subscribe-description {
    font-family: PT Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.subscribe-email {
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 600px;
    height: 60px;
}

.subbutton {
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    height: 60px;
}

.footer-container {
    display: flex;
    width: 1056px;
    margin: 0 auto;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}

.footer-social-item {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-phone {
    margin: 0 auto;
    font-family: PT Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.footer-link {
    margin-left: 0 auto;
}

.inner-header {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-image: url(../img/catalog-background-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-container {
    width: 1056px;
    margin: 0 auto;
}

.inner-header-title {
    font-family: PT Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    background-image: url(../img/svgs/arrow.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-item:nth-child(2) {
    margin-left: 26px;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;    
}


.hotels-filter-title {
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.hotels-products {
    display: flex;
}

.hotels-filter-item {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.right {
    margin-left: auto;
}

.submit {
    background-color: #83B3D3;
    Width: 160px;
    Height: 48px;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.reset {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    Width: 160px;
    Height: 23px;
    font-family: PT Sans;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: white;    
}

.inner-hotels-container {
    width: 1200px;
    margin: 0 auto;
}

.hotels {
    width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hotels-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.found-hotels {
    margin-right: 0 auto;
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
}

.cards {
    margin-right: auto;
}

.button-list {
    padding: 16px 17px;
    width: 48px;
    Height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-big-cards {
    padding: 16px 17px;
    width: 48px;
    Height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-cards {
    padding: 16px 17px;
    width: 48px;
    Height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.buttons {
    display: flex;
}


.product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.line-1 {
    display: flex;
    flex-direction: row;
}

.product-card-link {
    display: flex;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;    
}

.product-card-title {
    margin-left: 37px;  
}

.star {
    margin-left: auto;
}

.type-of-hotel {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:#333333;    
}

.product-card-price {
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;    
}

.more {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #756257;    
    text-decoration: none;
    width: 151px;
    height: 37px;
}

.buy { 
    border-color: #83B3D3;
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #83B3D3;
    border-radius: 4px;
    width: 160px;
    height: 37px;
}

.rating {
    margin-left: auto;
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;    
    width: 160px;
    height: 37px;
}

.bought {
    background-color: #7DB54F;
    border-color: #7DB54F;
}

.load { 
    text-transform: uppercase;
    background-color: #83B3D3;
    width: 625px;
    height: 55px;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;    
    border-color: #83B3D3;
    margin: 0 auto;
    align-items: flex-end;
}

.middle-container {
    display: flex;
    flex-direction: row;
}

.pagination {
    display: flex;
}

.pagination-item {
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #83B3D3;
    width: 55px;
    height: 55px; 
    border-radius: 4px;
}

.pagination-link {
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-decoration: none;
}

.pagination-current {
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.pagination-item:nth-child(1) {
    background-color: #E5E5E5;
    width: 55px;
    height: 55px; 
}

.hotels-on-page {
    margin-left: auto;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;    
}

.sorting-type {
    margin-left:  auto;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 287px;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;    
    height: 48px;
    background-color: #E5E5E5;
}

.subscribe-more {
    display: flex;
    flex-direction: column;
}

.subunique {
    text-transform: uppercase;
    color: #000000;
}

.subunique:nth-child(2) {
    text-transform: none;
}