@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  
  font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

html {
    height: 100%;   
}

body {
    position: relative;
    width: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #E5E5E5;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-header {
    background: #FFFFFF;
    color: #000000;
    min-height: 65px;
    display: flex;
}

.navigation {
    display: flex;
    width: 1057px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0;
    padding: 0;
    align-content: center;
}

.navigation-item-left {
    height: 65px;
    padding-top: 19px;
}

.navigation-item-left:not(:last-child) {
    margin: 0;
    margin-right: 33px;
}

.navigation-item-right {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 21px;
    align-self: center;
}

.navigation-item-right:last-child {
    margin-right: 0px;
}

.navigation-item-right:not(:last-child){
    height: 18px;
}

.navigation-item-right:nth-child(2) {
    margin-right: 33px;
}

.logo-link {
    margin: 0 auto;
    margin-left: 460px;
    z-index: 1000;
    position: absolute;
}

.navigation-link {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
}

.icons {
    width: 18px;
    height: 21px;
}

.icons:focus {
    outline: 3px solid red;
    border-radius: 10px;
    outline-offset: 20px;
}

.nav-decoration {
    fill: black;
    margin-top: -1px;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-item-right:hover .nav-decoration{
    fill: #756257;
} 

.navigation-link:focus {
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px, 12px, 6px, 12px;
    outline-offset: 6px;
}

.navigation-item-right:active .nav-decoration {
    fill: #756257;
    opacity: 0.3;
}


.navigation-link:active:not(:last-child) {
    color: #756257;
    opacity: 0.3;
    outline: none;
    border: none;
}

.unique {
    position: relative;
}

.unique::before {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 45px;
    left: 0;
    height: 4px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-user {
    margin: 0;
    padding: 0;
    min-width: 250px;
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: baseline;
}




.header-button {
    display: block;
    text-transform: uppercase;
    width: 160px;
    min-height: 37px;
    background-color: #756257;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    padding-top: 8px;
}

.header-button:hover {
    color: white;
    background-color: #615048;
}

.header-button:focus {
    padding-top: 8px;
    outline-offset: 0px;
    border-radius: 4px;
}

.header-button:active {
    color: rgba(255, 255, 255, 0.5) ;
    background-color: #615048 ;
}

.main-container {
    background-color: white;
    flex-grow: 1;
}

.main-logo {
    display: block;
    margin: 0 auto;
    margin-top: 51.4px;
}

.main-index {
    color: black;
    background-color: white;
    background: url(../img/svgs/line.svg) ,
                url(../img/main-background.jpg);  
    background-position: 0px 429px, 0 0;          
    background-size: 100% auto;
    background-repeat: no-repeat;                  
} 

.sedona-advantages {
    display: block;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-bottom: 30px;
}

.block {
   padding: 63px 240px;
   margin-top: 83px;
   min-height: 282px;
   background-color: #FFFFFF;
}

.advantages-description {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}


.index-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.index-columns-reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    width: 1200px; 
}



.comfort-list {
    margin: 0;
    padding: 0;
}

.more-advantages-list {
    margin: 0;
    padding: 0;
}

.columns {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 98px;
    padding-bottom: 77px;
    min-height: 384px;
    width: 400px;
    background-color: #83B3D3;
    color: white;
}

.columns-reverse {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 98px;
    padding-bottom: 90px;
    min-height: 384px;
    width: 400px;
    background-color: #83B3D3;
    color: white;
}

.true-city-title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-bottom: 25px;
}

.number-1 {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.true-city-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-top: 35px;
}

.comfort-blue {
    width: 400px;
    min-height: 384px;
    background-image: url(../img/svgs/home.svg);
    background-repeat: no-repeat;
    background-position: 162px 89px;
    background-color: rgba(131, 179, 211, 0.12);
    padding-top: 184px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 79px;
}

.comfort-white {
    padding-top: 184px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 79px;
    width: 400px;
    min-height: 384px;
    background-image: url(../img/svgs/sandwich.svg);
    background-repeat: no-repeat;
    background-position: 162px 89px;
    background-color: #FFFFFF;
}

.comfort-same-blue {
    padding-top: 184px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 79px;
    width: 400px;
    min-height: 384px;
    background-image: url(../img/svgs/present.svg);
    background-repeat: no-repeat;
    background-position: 167px 85px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-blue {
    width: 400px;
    min-height: 384px;
    padding: 74px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark-blue {
    width: 400px;
    min-height: 384px;
    padding: 74px 75px;
    background: rgba(131, 179, 211, 0.2);
}

.advantages-same-blue{
    width: 400px;
    min-height: 384px;
    padding: 74px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

.comfort-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.comfort-description {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.devils-bridge-title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-bottom: 25px;
}

.number-2 {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
}

.devils-bridge-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-top: 33px;
}

.more-advantages-title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.numbers {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;    
}

.more-advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin: 0;
    margin-top: 32px;
}

.interested-title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin-bottom: 8px;
}

.interested-description {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: inherit;
    margin-bottom: 58px;
}


.interested {
    min-height: 417px;
    display: flex;
    flex-direction: column;
    padding: 61px 300px;
    background-color: #FFFFFF;
}

.search {
    text-transform: uppercase;
    background-color: #756257;
    width: 575px;
    min-height: 60px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center; 
    margin: 0 auto;
    padding: 12px;
    border: none;
}

.search:hover {
    background-color: #615048;
}

.search:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
}

.subscribe {
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 411px;
    padding: 60px;    
    padding-top: 90px;
    margin: 0;
}

.subscribe-title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 27px;
}

.email-form {
    display: flex;
    margin: 0 auto;
    align-self: flex-start;
}

.subscribe-description {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 50px;
}

.subscribe-description-hotels {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 55px;
}

.subscribe-email {
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: none;
    width: 600px;
    height: 60px;
    padding-left: 22px;
    padding-right: 22px;
    font: inherit;
}

.subbutton {
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    min-height: 60px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;    
    color: white;   

}

.subscribe-email:hover {
    background-color: #E6E6E6;
}

.subscribe-email:focus {
    border: 3px solid #83B3D3;
    outline: none;
}

.subscribe-email:active {
    border: 2px solid #000000;
    outline: none;
    opacity: 1;
}

.subbutton:hover {
    background-color: #68A2CA;
}

.subbutton:focus {
    border: 3px solid #756257;
    outline: none;  
}

.subbutton:active {
    background-color: #68A2CA;
    color: #FFFFFF;
    opacity: 0,3;
}

.page-footer {
    background-color: #FFFFFF;
}

.footer-container {
    display: flex;
    width: 1056px;
    min-height: 120px;
    margin: 0 auto;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    align-items: center;
    width: 150px;
}


.footer-social-item:not(:nth-child(3n)) {
    margin-right: 29px;
    padding: 0;
}      

.social-logo {
    fill: #83B3D3;
}

.social-logo:hover {
    fill: #68A2CA;
}

.social-media:focus-visible { 
    outline: 3px solid #68A2CA;
    border-radius: 5px;
    outline-offset: 10px;
    width: 40px;
    height: 40px;
}

.social-logo:active {
    fill: #68A2CA;
}

.footer-phone {
    height: 50px;
    margin-left: -37px;
    margin-top: 33px;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    text-decoration: none;
}

.footer-phone:hover {
    color: #756257;
}

.footer-phone:focus {
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline-offset: 10px;
}

.footer-phone:active {
    color: #756257;
    opacity: 0.3;
}

.footer-link {
    margin-left: auto;
    align-self: center;
}

.htma {
    fill: black;
}

.htma:hover {
    fill: #756257;
}

.footer-link:focus {
    outline:  3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline-offset: 10px;
}

.htma:active {
    fill: #756257;
}

.inner-header {
    display: flex;
    width: 1200px;
    min-height: 408px;
    margin: 0 auto;
    background-image: url(../img/catalog-background-1.jpg);
    background-color: #F2F2F2;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-container {
    width: 1056px;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: flex-start;
}

.inner-header-title {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    align-items: baseline;
    background-image: url(../img/svgs/arrow.svg);
    background-repeat: no-repeat;
    background-position: 23px ;
}

.breadcrumbs-home {
    fill: white;
}

.breadcrumbs-item-hotels {
    margin-left: 26px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;    
}

.breadcrumbs-home:hover {
    fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item-hotels:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    outline-offset: 5px;
}

.breadcrumbs-item-hotels:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    outline-offset: 5px;
}

.breadcrumbs-home:active {
    fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-hotels:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotels-filter-group {
    margin-right: 67px;
}

.hotels-filter-list {
    margin-top: 28px;
}

.hotels-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 0;
}

.hotels-products {
    display: block;
}

.hotels-filter-item {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

.hotels-filter-radio {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 0;
    margin-bottom: 13px;
    
}

.control .control-label{
    margin-left: 39px;
}

.control-label {
    display: block;
}

.right {
    margin-left: auto;
}

.submit {
    background-color: #83B3D3;
    width: 160px;
    min-height: 48px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.submit:hover {
    background-color: #68A2CA;
}

.submit:focus {
    outline: 3px solid #FFFFFF;
    border-radius: 4px;
    border: none;
}

.submit:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3)
}

.reset {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    Width: 160px;
    Height: 23px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: white;    
}

.reset:hover {
    color: #FFFFFF;
    opacity: 0.6;
}

.reset:focus {
    border: none;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    outline-offset: 0px;
}

.columns-right {
    padding-top: 60px;
    margin-left: auto;
}

.inner-hotels-container {
    width: 1200px;
    margin: 0 auto;
}

.hotels {
    width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hotels-settings {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.found-hotels {
    margin-right: 0 auto;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    align-self: center;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    column-gap: 8px;
    margin-left: auto;
    margin-top: 5px;
}

.product-item {
    position: relative;
    display: flex;
}

.product-item:before{
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #E6E6E6;
    margin-top: -31px;
}

.product-item:last-child:after {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 150px;
}

.button-list {
    padding: 11px 14px;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: transparent;
}

.button-list:hover {
    border: 2px solid #83B3D3;
}

.button-list:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.button-list:active {
    border: 2px solid #000000;
    border-radius: 4px;
}

.button-big-cards {
    padding: 0;
    padding: 11px 14px;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: transparent;
}

.button-big-cards:hover {
    border: 2px solid #83B3D3;
}

.button-big-cards:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.button-big-cards:active {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-cards {
    padding: 11px 14px;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: transparent;
}

.button-cards:hover {
    border: 2px solid #83B3D3;
}

.button-cards:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.button-cards:active {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.mark {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}



.product-list {
    margin: 0;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 60px;
    display: grid;
    row-gap: 61px;
}

.line-1 {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-top: -5px;
}

.line-column {
    display: flex;
    margin-top: 1px;
    width: 235px;
    /* justify-content: space-between; */
}

.line-columns {
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
}

.product-card-image:hover {
    opacity: 0.6;
}

.product-card-main:focus {
    outline: 3px solid #83B3D3;
    border: none;
    padding: 0;
    border-radius: 0px;
}

.product-card-image:active {
    opacity: 0.3;
}

.product-card-link {
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;    
}

.product-card-link:hover {
    color: #756257;
}

.product-card-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    outline-offset: 5px;
    border: none;
}

.product-card-link:active {
    color: #756257;
    opacity: 0.3;
}

.product-card-title {
    margin: 0;
}

.star {
    margin: 0 auto;
}

.type-of-hotel {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:#333333;    
}

.product-card-price {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em; 
    color: #333333;    
    text-align: center;
    margin-left: auto;
    width: 78px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #756257;    
    text-decoration: none;
    width: 151px;
    min-height: 37px;
    border-radius: 4px;
    margin-right: 8px;
}

.more:hover {
    background: #615048;
}

.more:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    border: none;
}

.more:active {
    color: rgba(255, 255, 255, 0.3)
}

.buy { 
    border-color: #83B3D3;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #83B3D3;
    border-radius: 4px;
    width: 160px;
    min-height: 37px;
    margin-right: 8px;
}

.buy:hover {
    background: #68A2CA;
}

.buy:focus {
    outline: 3px solid #756257;
    border-radius: 4px;
    border: none;
}

.buy:active {
    color: rgba(255, 255, 255, 0.3)
}

.rating {
    margin-top: auto;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;    
    width: 160px;
    min-height: 37px;
    background: #F2F2F2;
    border-radius: 4px;
    padding-top: 8px;
}

.bought {
    background-color: #7DB54F;
    border-color: #7DB54F;
}

.bought:hover {
    background-color: #6C9E42;
}

.load { 
    position: relative;
    text-transform: uppercase;
    background-color: #83B3D3;
    width: 625px;
    height: 55px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;    
    border-color: #83B3D3;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 60px;
}

.load:hover {
    background-color: #68A2CA;
}

.load:focus {
    outline: 3px solid  #756257;
    border-radius: 10px;
    border: none;
}

.load:active {
    color: rgba(255, 255, 255, 0.3)
}

.middle-container::before {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #E6E6E6;
    margin-top: -31px;
}

.middle-container {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-items: baseline;
}

.pagination {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #83B3D3;
    border-radius: 4px;
    min-width: 55px;
    min-height: 55px; 
    border-radius: 4px;
}

.pagination-current{
    background-color: #E5E5E5;
}

.pagination-current {
    color: black;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-current:hover {
    background-color: #E5E5E5;
}

.pagination-link:focus-visible {
    outline: 3px solid  #756257;
    border-radius: 4px;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.right-pagination {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.hotels-on-page {
    margin-right: 51px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;    
}

.sorting-type {
    margin-left: 192px;
}

.subscribe-more {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 89px;
    margin-bottom: 140px;
}

.subscribe-more:last-child {
    margin-bottom: 102px;
}

.subunique {
    margin: 0;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #000000;
}

.subunique:nth-child(2) {
    margin-bottom: 44px;
    text-transform: none;
}

.subunique:nth-child(3) {
    color: white;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}


::placeholder {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: black;  
    opacity: 0.6;  
}

.button-reset {
    border: 0;
    padding: 0;
}

.hotels-filter-range {
    margin-left: 105px;
    margin-right: 81px;
}

.range {
    position: relative;
    margin-left: -1px;
    width: 285px;
    height: 4px;
    margin-top: 28px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.range-toggle:focus {
    outline: 3px solid #68A2CA;
    border-radius: 5px;
    border: none;
}

.range-toggle:active {
    outline: 2px solid #68A2CA;
    border-radius: 5px;
    border: none;
}

.toggle-min {
    position: absolute;
    top: -8px;
}

.toggle-max {
    position: absolute;
    top: -8px;
    left: 217px;
}

.range-inputs {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 9px;
}

.hotels-filter-input { 
    background-color: transparent;
    border: none;
    appearance: textfield;
    width: 93px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #FFFFFF;  
    margin-top: 1px;
}

.hotels-filter-input:focus {
    outline: none;
    border: none;
}

.hotels-filter-input::-webkit-outer-spin-button,
.hotels-filter-input::-webkit-inner-spin-button {
  appearance: none;
}

.hotels-filter-label{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 31px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.3);
    justify-content: baseline;
}

.right-label {
    margin: 0;
}

.line::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    min-height: 46px;
    color: white;
    border-right: 2px solid white;
}

.line {
    position: relative;
}

.control {
    position: relative;
    display: block;
    margin: 0;
  }

  .exper-lab {
      padding-top: 2px;
      padding-left: 39px;
  }
  
  /* Mark */
  .control-mark {
    position: absolute;
    top: 3px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 19px;
  }

  .control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
  }

  .control-input:focus +.control-mark {
      outline: 3px solid hsl(204 48% 67% / 0.2);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.6);
  }

  .control-input:active +.control-mark {
      background-color: rgba(255, 255, 255, 0.3);
  }


.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url(../img/svgs/tick.svg);
    background-repeat: no-repeat;
    background-position: 4px 5px;
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
  }
  


  .select {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
  }
  
  .select-control {
    width: 100%;
    min-width: 287px;
    padding: 12px 14px;
    padding-right: 48px;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-image: url("../img/svgs/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 2px;
  }

  .select-control-hotels {
    width: 100%;
    min-width: 160px;
    padding: 12px 14px;
    padding-right: 48px;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-image: url("../img/svgs/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 2px;
  }

  .select-control:hover, .select-control:focus {
      border-color: #83B3D3;
      outline: none;
  }

  .select-control:active {
      opacity: 0.3;
  }

  .popover {
   position: absolute;
   top: 62px;
   right: 69px;
   z-index: 1;
   box-sizing: border-box;
   font: inherit;
   background-color: #FFFFFF;
   border: 1px solid #E6E6E6;
   box-sizing: border-box;
   box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   width: 400px;
   height: 232px;   
   background-image: url(../img/svgs/arrow-up.svg);
   background-repeat: no-repeat;
 }

.popover-card::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    transform: translateX(189.5px) translateY(-5px) rotate(45deg);
    box-shadow: -1px -1px 0px #E4E4E4;
}

.popover-img {
    fill: #000000;
    opacity: 0.3;
}

.popover-button {
    background-color: transparent;
    border: none;
}

.popover-item {
    display: flex;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.popover-button {
    margin-left: auto;
}

.popover-line {
    display: grid;
    grid-template-columns: 48px auto;
    column-gap: 17px;
    width: 330px;
}

.popover-card-link {
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: black;    
} 

.popover-card-title {
    margin: 0;
    padding: 0;
}

.popover-name {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}



.popover-line:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    border: none;
    outline-offset: 10px;
}

.all-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 25px;
    margin-left: -1px;
    background: #756257;
    border-radius: 0px 0px 20px 20px;
    width: 400px;
    height: 60px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: white;
    text-transform: uppercase;  
}

.popover-card-main{
    display: flex;
    width: 310px;
}

.popover-card-main:hover {
    opacity: 0.6;
}

.popover-card-main:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    border: none;
    outline-offset: 5px;
}

.popover-img:hover {
    opacity: 1;
}

.popover-button:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    border: none;
    outline-offset: 5px;
}

.popover-img:active {
    opacity: 0.1;
}

.all-main:hover {
    background-color: #615048;
}

.all-main:focus {
    border: 3px solid #83B3D3;
    border-radius: 0px 0px 20px 20px;
    outline: none;
}

.all-main:active {
    color: rgba(255, 255, 255, 0.3)
}

.popover-disable {
    display: none; 
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    padding: 0;
    margin: auto;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 715px;
  }

.hotel-search {
    padding: 0;
    padding-left: 68px;
    padding-right: 70px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: none;
    background-image: url(../img/svgs/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 54px;
    margin-right: 74px;
} 

.modal-close-button:hover {
    background-color: #E5E5E5;
}

.modal-close-button:focus {
    outline: 3px solid #83B3D3;
    border-radius: 50%;
}

.modal-close-button:active {
    opacity: 0.6;
}

.modal-title {
      margin: 0;
      margin-top: 62px;
      margin-bottom: 32px;
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;     
      text-transform: uppercase; 
}

.field-group {
    margin: 0;
    margin-top: 40px;
    height: 90px;
}

.field-label {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    width: 155px;
}

.input {
    position: relative;
    width: 420px;
    margin: 0;
    margin-left: auto;
    margin-top: -40px;
}

.calendar {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 386px;
    background-image: url(../img/svgs/calendar.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}

.another {
    margin-right: 47px;
}

.reg-form-field {
    background-color: #F2F2F2;
    border-radius: 4px;
    width: 420px;
    height: 50px;
    margin-right: auto;
    border: none;
    padding-left: 19px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;   
    border-radius: 4px; 
    z-index: 0;
}

.hotel-error {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5757;
    margin: 0;
    padding: 0;
    margin-left: 156px;
    display: none;
}

 .input-invalid + .hotel-error {
      display: block;
 } 

.input-invalid + .field-group {
      margin-top: 10px;
}

.hotel-pass {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-left: 156px;
    display: none;
  }

.input-pass + .hotel-pass {
    display: block;
}

.field-group-bottom {
    margin: 0;
    height: 85px;
}

.people {
    display: flex;
}


.adults {
    width: 155px;
}

.people-form-field {
   width: 69px;
   height: 50px;
   background-color: inherit;
   border-radius: 4px;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: center;
   color: #000000;
   border: none;   
   margin: 0;
   padding: 0;
} 

.people-form-field:focus {
    outline: none;
    border: none;
}

.field-people {
    display: flex;
    margin: 0;
    margin-top: 10px;
    height: 50px;
}

.modal-buttons {
    display: flex;
    align-content: flex-end;
    height: 50px;
    width: 133px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;   
    margin: 0;
    padding: 0;
}

.minus {
    fill: rgba(0, 0, 0, 0.3);
}

.plus {
    fill: rgba(0, 0, 0, 0.3);
}

.modal-minus {
    align-self: center;
    width: 13px;
    height: 13px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: inherit;
    margin-left: 19px;
}

.modal-plus {
    align-self: center;
    width: 13px;
    height: 13px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: inherit;
    margin-right: 19px;
}

.children {
    width: 54px;
    margin-left: 56px;
}

.info {
    fill: white;
}

.note {
    position: relative;
     width: 25px;
     height: 25px;
     background-color: #83B3D3;
     border-radius: 50%;
     border: none;
     align-self: center;
     margin-top: -6px;
     margin-right: 18px;
     cursor: pointer;
}


.help {
    position: absolute;
    top: 40px;
    left: -110px;
    width: 256px;
    height: 143px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background-color: #333333;   
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    display: none;
}

.help::before {
    position: absolute;
    left: 115px;
    top: -5px;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #333333;
    transform: rotate(45deg);
}

.note:hover {
    background-color: #68A2CA;
}

.note:hover .help {
    display: block;
}

.note:focus {
    border: none;
    outline: none;
}

.modal-search {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #83B3D3;
    color: rgba(255, 255, 255, 1);
    width: 575px;
    height: 60px;
    margin-top: 40px;    
    border: none;
    border-radius: 10px;
    margin-bottom: 70px;
    cursor: pointer;
}

.field:hover {
    background-color: #E5E5E5;
}

.field:focus {
    background-color: #E5E5E5;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.minus:hover{
    fill: rgba(0, 0, 0, 1);  
}

.plus:hover{
    fill: rgba(0, 0, 0, 1);  
}

.modal-minus:focus, .modal-plus:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.field:active {
    border: 2px solid black;
    border-radius: 4px;
}

.minus:active, .plus:active {
    fill: rgba(0, 0, 0, 0.3);  
}

.modal-search:hover {
    background-color: #68A2CA;
}

.modal-search:focus {
    outline: 3px solid #615048;
    border-radius: 10px;
}

.modal-search:active {
    color: rgba(255, 255, 255, 0.3)
}

.modal-closed {
    display: none;
}

.popup {
    position: relative;
    border: none;
    background-color: transparent;
}

.nav-ring {
    position: absolute;
    font-family: PT Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.1em;
    padding-top: 3px;
    padding-right: 0.5px;
    top: -5px;    
    left: 12px;
    color: rgba(255, 255, 255, 1); 
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: #7DB550;
}

 .navigation-item-right:active .nav-ring{
    color: rgba(255, 255, 255, 0.3); 
}

.popup:focus {
     outline: 3px solid #83B3D3;
     border-radius: 10px;
     outline-offset: 10px;
}

.icons:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    outline-offset: 10px;
}